@font-face
    font-family 'Mazzard H'
    src url('../fonts/Mazzard/MazzardH-BlackItalic.eot')
    src local('Mazzard H Black Italic'), local('MazzardH-BlackItalic'),
        url('../fonts/Mazzard/MazzardH-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mazzard/MazzardH-BlackItalic.woff2') format('woff2'),
        url('../fonts/Mazzard/MazzardH-BlackItalic.woff') format('woff'),
        url('../fonts/Mazzard/MazzardH-BlackItalic.ttf') format('truetype')
    font-weight 900
    font-style italic
    font-display: swap
@font-face
    font-family 'Mazzard H'
    src url('../fonts/Mazzard/MazzardH-Black.eot')
    src local('Mazzard H Black'), local('MazzardH-Black'),
        url('../fonts/Mazzard/MazzardH-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mazzard/MazzardH-Black.woff2') format('woff2'),
        url('../fonts/Mazzard/MazzardH-Black.woff') format('woff'),
        url('../fonts/Mazzard/MazzardH-Black.ttf') format('truetype')
    font-weight 900
    font-style normal
    font-display: swap
@font-face
    font-family 'Mazzard H'
    src url('../fonts/Mazzard/MazzardH-Medium.eot')
    src local('Mazzard H Medium'), local('MazzardH-Medium'),
        url('../fonts/Mazzard/MazzardH-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mazzard/MazzardH-Medium.woff2') format('woff2'),
        url('../fonts/Mazzard/MazzardH-Medium.woff') format('woff'),
        url('../fonts/Mazzard/MazzardH-Medium.ttf') format('truetype')
    font-weight 500
    font-style normal
    font-display: swap
@font-face
    font-family 'Mazzard H'
    src url('../fonts/Mazzard/MazzardH-LightItalic.eot')
    src local('Mazzard H Light Italic'), local('MazzardH-LightItalic'),
        url('../fonts/Mazzard/MazzardH-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mazzard/MazzardH-LightItalic.woff2') format('woff2'),
        url('../fonts/Mazzard/MazzardH-LightItalic.woff') format('woff'),
        url('../fonts/Mazzard/MazzardH-LightItalic.ttf') format('truetype')
    font-weight 300
    font-style italic
    font-display: swap
@font-face
    font-family 'Mazzard H'
    src url('../fonts/Mazzard/MazzardH-ExtraLight.eot')
    src local('Mazzard H ExtraLight'), local('MazzardH-ExtraLight'),
        url('../fonts/Mazzard/MazzardH-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mazzard/MazzardH-ExtraLight.woff2') format('woff2'),
        url('../fonts/Mazzard/MazzardH-ExtraLight.woff') format('woff'),
        url('../fonts/Mazzard/MazzardH-ExtraLight.ttf') format('truetype')
    font-weight 200
    font-style normal
    font-display: swap
@font-face
    font-family 'Mazzard H'
    src url('../fonts/Mazzard/MazzardH-Light.eot')
    src local('Mazzard H Light'), local('MazzardH-Light'),
        url('../fonts/Mazzard/MazzardH-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mazzard/MazzardH-Light.woff2') format('woff2'),
        url('../fonts/Mazzard/MazzardH-Light.woff') format('woff'),
        url('../fonts/Mazzard/MazzardH-Light.ttf') format('truetype')
    font-weight 300
    font-style normal
    font-display: swap
@font-face
    font-family 'Mazzard H'
    src url('../fonts/Mazzard/MazzardH-ExtraBoldItalic.eot')
    src local('Mazzard H ExtraBold Italic'), local('MazzardH-ExtraBoldItalic'),
        url('../fonts/Mazzard/MazzardH-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mazzard/MazzardH-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Mazzard/MazzardH-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/Mazzard/MazzardH-ExtraBoldItalic.ttf') format('truetype')
    font-weight 800
    font-style italic
    font-display: swap
@font-face
    font-family 'Mazzard H'
    src url('../fonts/Mazzard/MazzardH-MediumItalic.eot')
    src local('Mazzard H Medium Italic'), local('MazzardH-MediumItalic'),
        url('../fonts/Mazzard/MazzardH-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mazzard/MazzardH-MediumItalic.woff2') format('woff2'),
        url('../fonts/Mazzard/MazzardH-MediumItalic.woff') format('woff'),
        url('../fonts/Mazzard/MazzardH-MediumItalic.ttf') format('truetype')
    font-weight 500
    font-style italic
    font-display: swap
@font-face
    font-family 'Mazzard H'
    src url('../fonts/Mazzard/MazzardH-Thin.eot')
    src local('Mazzard H Thin'), local('MazzardH-Thin'),
        url('../fonts/Mazzard/MazzardH-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mazzard/MazzardH-Thin.woff2') format('woff2'),
        url('../fonts/Mazzard/MazzardH-Thin.woff') format('woff'),
        url('../fonts/Mazzard/MazzardH-Thin.ttf') format('truetype')
    font-weight 100
    font-style normal
    font-display: swap
@font-face
    font-family 'Mazzard H'
    src url('../fonts/Mazzard/MazzardH-SemiBoldItalic.eot')
    src local('Mazzard H SemiBold Italic'), local('MazzardH-SemiBoldItalic'),
        url('../fonts/Mazzard/MazzardH-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mazzard/MazzardH-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Mazzard/MazzardH-SemiBoldItalic.woff') format('woff'),
        url('../fonts/Mazzard/MazzardH-SemiBoldItalic.ttf') format('truetype')
    font-weight 600
    font-style italic
    font-display: swap
@font-face
    font-family 'Mazzard H'
    src url('../fonts/Mazzard/MazzardH-ThinItalic.eot')
    src local('Mazzard H Thin Italic'), local('MazzardH-ThinItalic'),
        url('../fonts/Mazzard/MazzardH-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mazzard/MazzardH-ThinItalic.woff2') format('woff2'),
        url('../fonts/Mazzard/MazzardH-ThinItalic.woff') format('woff'),
        url('../fonts/Mazzard/MazzardH-ThinItalic.ttf') format('truetype')
    font-weight 100
    font-style italic
    font-display: swap
@font-face
    font-family 'Mazzard H'
    src url('../fonts/Mazzard/MazzardH-Bold.eot')
    src local('Mazzard H Bold'), local('MazzardH-Bold'),
        url('../fonts/Mazzard/MazzardH-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mazzard/MazzardH-Bold.woff2') format('woff2'),
        url('../fonts/Mazzard/MazzardH-Bold.woff') format('woff'),
        url('../fonts/Mazzard/MazzardH-Bold.ttf') format('truetype')
    font-weight bold
    font-style normal
    font-display: swap
@font-face
    font-family 'Mazzard H'
    src url('../fonts/Mazzard/MazzardH-Regular.eot')
    src local('Mazzard H Regular'), local('MazzardH-Regular'),
        url('../fonts/Mazzard/MazzardH-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mazzard/MazzardH-Regular.woff2') format('woff2'),
        url('../fonts/Mazzard/MazzardH-Regular.woff') format('woff'),
        url('../fonts/Mazzard/MazzardH-Regular.ttf') format('truetype')
    font-weight normal
    font-style normal
    font-display: swap
@font-face
    font-family 'Mazzard H'
    src url('../fonts/Mazzard/MazzardH-SemiBold.eot')
    src local('Mazzard H SemiBold'), local('MazzardH-SemiBold'),
        url('../fonts/Mazzard/MazzardH-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mazzard/MazzardH-SemiBold.woff2') format('woff2'),
        url('../fonts/Mazzard/MazzardH-SemiBold.woff') format('woff'),
        url('../fonts/Mazzard/MazzardH-SemiBold.ttf') format('truetype')
    font-weight 600
    font-style normal
    font-display: swap
@font-face
    font-family 'Mazzard H'
    src url('../fonts/Mazzard/MazzardH-BoldItalic.eot')
    src local('Mazzard H Bold Italic'), local('MazzardH-BoldItalic'),
        url('../fonts/Mazzard/MazzardH-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mazzard/MazzardH-BoldItalic.woff2') format('woff2'),
        url('../fonts/Mazzard/MazzardH-BoldItalic.woff') format('woff'),
        url('../fonts/Mazzard/MazzardH-BoldItalic.ttf') format('truetype')
    font-weight bold
    font-style italic
    font-display: swap
@font-face
    font-family 'Mazzard H'
    src url('../fonts/Mazzard/MazzardH-ExtraLightItalic.eot')
    src local('Mazzard H ExtraLight Italic'), local('MazzardH-ExtraLightItalic'),
        url('../fonts/Mazzard/MazzardH-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mazzard/MazzardH-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/Mazzard/MazzardH-ExtraLightItalic.woff') format('woff'),
        url('../fonts/Mazzard/MazzardH-ExtraLightItalic.ttf') format('truetype')
    font-weight 200
    font-style italic
    font-display: swap
@font-face
    font-family 'Mazzard H'
    src url('../fonts/Mazzard/MazzardH-ExtraBold.eot')
    src local('Mazzard H ExtraBold'), local('MazzardH-ExtraBold'),
        url('../fonts/Mazzard/MazzardH-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mazzard/MazzardH-ExtraBold.woff2') format('woff2'),
        url('../fonts/Mazzard/MazzardH-ExtraBold.woff') format('woff'),
        url('../fonts/Mazzard/MazzardH-ExtraBold.ttf') format('truetype')
    font-weight 800
    font-style normal
    font-display: swap
@font-face
    font-family 'Mazzard M'
    src url('../fonts/Mazzard/MazzardM-Bold.eot')
    src local('Mazzard M Bold'), local('MazzardM-Bold'),
        url('../fonts/Mazzard/MazzardM-Bold.woff2') format('woff2'),
        url('../fonts/Mazzard/MazzardM-Bold.woff') format('woff')
    font-weight bold
    font-style normal
    font-display: swap
@font-face
    font-family 'Mazzard M'
    src url('../fonts/Mazzard/MazzardM-SemiBold.eot')
    src local('Mazzard M SemiBold'), local('MazzardM-SemiBold'),
        url('../fonts/Mazzard/MazzardM-SemiBold.woff2') format('woff2'),
        url('../fonts/Mazzard/MazzardM-SemiBold.woff') format('woff')
    font-weight 600
    font-style normal
    font-display: swap
@font-face
    font-family 'Mazzard M'
    src url('../fonts/Mazzard/MazzardM-Medium.eot')
    src local('Mazzard M Medium'), local('MazzardM-Medium'),
        url('../fonts/Mazzard/MazzardM-Medium.woff2') format('woff2'),
        url('../fonts/Mazzard/MazzardM-Medium.woff') format('woff')
    font-weight 500
    font-style normal
    font-display: swap
@font-face
    font-family 'Mazzard M'
    src url('../fonts/Mazzard/MazzardM-Regular.eot')
    src local('Mazzard M Regular'), local('MazzardM-Regular'),
        url('../fonts/Mazzard/MazzardM-Regular.woff2') format('woff2'),
        url('../fonts/Mazzard/MazzardM-Regular.woff') format('woff')
    font-weight normal
    font-style normal
    font-display: swap
@font-face
    font-family 'Mazzard M'
    src url('../fonts/Mazzard/MazzardM-Light.eot')
    src local('Mazzard M Light'), local('MazzardM-Light'),
        url('../fonts/Mazzard/MazzardM-Light.woff2') format('woff2'),
        url('../fonts/Mazzard/MazzardM-Light.woff') format('woff')
    font-weight 300
    font-style normal
    font-display: swap