@media screen and (max-width 1600px)
    .not-found
        padding-bottom 50px
    .main-section1__support span
        font-size 18px
    html
        --header-height 138px
    .main-section1__section-caption
        font-size 60px
    .main-section1__btns
        margin-top 50px
    .header__logo
        margin-right 60px
        width 135px
    .header
        &__
            &search
                margin-right 15px
                &__
                    &input
                        padding-left 54px
                        width 220px
    .header__lang
        margin-right 30px
    .main-section1__support
        margin-top 45px
    #card
        .container
            width 399px
            height 516px
            &__
                &image
                    width 312px
                &caption
                    font-size 25px
                    margin 19px 0
                &load-text
                    height 16px
                    width 215px
                    & + .container__load-text
                        width 161px
                &btn
                    margin-top 31px
                    font-size 15px
                    padding 0 19px
                &color-btns
                    top 21px
                    left 21px
        .skill
            font-size 17px
            padding 12px 21px 12px 40px
            background-position 21px center
            top 105px
        .telegram
            top 72px
            transform translateX(50%)
        .stats
            transform translateX(-80%)
            bottom 73px
            padding 21px
        .platforms
            padding 25px 23px
            span
                width 23px
                &:not(:last-child)
                    margin-bottom 25px
    .main-section1__section-category+.section-caption
        margin-top 25px
    .section2__block-container
        gap 21px
    .section2__block
        padding 50px 30px
    .section2__block__text
        font-size 16px
    .main-section1__support div
        width 24px
        height 24px
    .main-section1__support span
        margin-right 18px
    .catalog
        padding-top 110px
    .tg-card__caption
        font-size 22px
    .tg-card__text
        font-size 13px
    .tg-card__btn
        margin-top 23px
        font-size 15px
    .card__name
        font-size 20px
    .card__btn
        width 35px
        height 35px
    .card
        padding calc(var(--card-image-height) + 10px) 35px 30px
    .catalog__cards-container
        gap 16px
    .section-caption
        font-size 50px
    .slider-arrows__arrow
        width 49px
        height 49px
    .slider-arrows__prev
        margin-right 8px
    .accordion__header, .accordion__body
        font-size 16px
    .accordion__header__btn
        width 40px
        height 40px
    .accordion__header
        padding 15px 20px 15px 35px
    .faq__container
        margin-top 55px
    .footer
        margin-top 80px
    .cheat-card__name
        font-size 26px
    .game-cheats__slider-container:not(:last-child)
        margin-bottom 150px
    .about-heading-section
        padding-bottom 200px
    .profile__settings-block__input
        margin-right 10px
    .not-found
        &__
            &code
                font-size 105px
            &caption
                margin 25px 0 15px
            &text
                margin-bottom 60px
    .profile__auth
        padding 16px 16px 16px 30px
    .status-heading-section
        display flex
        align-items center
    .cheat-statuses
        padding 100px 0
@media screen and (max-width 1400px)
    .about-heading-section
        padding-bottom 150px
    .not-found
        padding-bottom 20px
    .content
        max-width calc(100% - 80px)
    .header
        &__
            &menu
                position absolute
                right 0
                top 85%
                padding 13px
                border-radius 20px
                background-color #111720
                flex-direction column
                align-items flex-start
                transition 0.3s opacity, .3s top
                &:not(._active)
                    opacity 0
                    pointer-events none
                &._active
                    top 80%
                &__
                    &item
                        padding 11px 16px
                        &._active
                            background-color #181F2A
                        &:not(:last-child)
                            margin-right unset
            &logo
                margin-right auto
            &search__input
                width 272px
    .section-category
        padding 7px 20px 7px 8px
        &__
            &text
                font-size 14px
    .section-subcaption
        font-size 18px
    .main-section1__btns .btnheight 62px
    .main-section1__btns
        margin-top 44px
    .main-section1 #card
        right 0
    #card 
        .container
            width 334px
            height 432px
            border-radius 19px
            &__
                &caption
                    font-size 21px
                    margin 16px 0
                &load-text
                    width 180px
                    & + .container__load-text
                        width 135px
                &btn
                    padding 0 16px
                    margin-top 26px
                    height 39px
                    font-size 12px
                    .btn__icon img
                        width 17px
                        height 17px
                &image
                    width 262px
                &color-btns
                    top 18px
                    left 17px
                    div
                        width 8px
                        height 8px
                        &:not(:last-child)
                            margin-right 6px
        .platforms
            padding 21px 17px
            border-radius 19px
            span
                width 19px
                height 19px
        .skill
            padding 10px 18px 10px 34px
            top 130px
            font-size 14px
            background-position 12px center
        .stats
            transform translateX(-60%)
            bottom 51px
            padding 17px
            border-radius 13px
            .caption
                font-size 14px
            .subcaption
                font-size 10px
            .graph
                --max-bar-height 61px
                .elem
                    width 12px
            .types
                margin 10px 0 0
        .telegram
            right -11px
            top -24px
            transform unset
            padding 6px 46px 6px 6px
            &::after
                width 25px
                height 25px
                right 9px
            .icon
                width 33px
                height 33px
                margin-right 7px
            p
                font-size 14px
            span
                font-size 11px
    .types
        font-size 10px
    .main-section1__inner
        width 560px
    .main-section1__section-subcaption
        width 500px
    .main-section1__btns .btn
        height 62px
    .section2
        margin 95px 0
    .section2__block
        padding 40px 10px 30px
        &-
            &container
                gap 16px
                margin-top 50px
        &__
            &caption
                font-size 19px
                margin 26px 0 9px
            &text
                font-size 15px
            &icon
                width 41px
                height 41px
    .section-caption
        font-size 45px
    .main .catalog
        padding-top 80px
    .catalog__cards-container
        margin-top 70px
    .catalog__cards-container
        grid-template-columns repeat(3, 1fr)
    .card
        height 340px
        --card-image-height 219px
    .tg-card__icon
        width 60px
        height 60px
    .tg-card__btn
        padding 14px 20px
        font-size 15px
    .reviews
        margin 115px 0
    .reviews-slider
        margin-top 50px
    .footer__menu
        display none
    .footer__bottom-container
        margin-top 35px
        padding-top 35px
        display flex
        align-items center
        justify-content space-between
        .footer__menu__item
            display block
    .footer__menu__item
        margin-right unset
        font-size 16px
        &::after
            display none
    .footer__logo
        width 110px
    .cheat-card
        padding 20px 25px
        &__
            &logo
                width 38px
                height 38px
    .cheat-card__list li
        font-size 12px
    .cheat-card__name
        margin 12px 0 8px
        font-size 18px
    .cheat-card__status
        top 14px
        right 14px
        font-size 12px
    .cheat-card__platform
        svg
            width 14px
            height 14px
    .game-cheats-slider
        margin-top 40px
    .game-cheats__slider-container:not(:last-child)
        margin-bottom 90px
    .cheat-block
        display block
        height unset
    .cheat-block__slider,
    .cheat-block__info
        margin-bottom 20px
    .cheat-block__slider
        height 426px
    .cheat-block__info__btn-line
        width unset
        margin-top 55px
        .btn-accent
            padding 0 87px
    .instruction__container
        padding 74px 64px
        border-radius 20px
    .instruction
        &::before
            content ''
            position absolute
            width 250px
            height 250px
            border-radius 50%
            background-color rgba(#262F3F,.4)
            filter blur(106.5px)
            top 0
            right -115px
    .instruction__links
        margin-bottom 50px
    .instruction
        margin-bottom 90px
    .about-heading-section__btn
        margin-top 60px
    .about-heading-section__section-caption
        margin-bottom unset
    .about-heading-section__
        &decor1
            width 230px
            height 230px
            top 0
            transform translate(-10%, 10%)
        &decor3
            transform rotate(30deg)
            bottom 13%
            left 7%
            width 120px
            height 120px
    .about-heading-section__get-result
        display none
    .about-heading-section__decor2
        width 175px
    .about-heading-section__section-subcaption
        width 570px
    .about-heading-section__decor2
        bottom unset
        top 0
    .about-heading-section__btn
        padding 18px 32px
    .about-section__stat:not(:last-child)
        margin-right 80px
        &::after
            right -40px
    .about-section__contacts
        grid-template-columns repeat(3, 1fr)
    .about-section__text
        margin-top 50px
    .catalog
        padding-top unset
    .status-heading-section
        min-height 475px
    .cheat-statuses__header
        padding 19px 30px
    .cheat-statuses__header
        flex-direction column
        align-items flex-start
    .cheat-statuses__header
        padding 34px 30px
        &__all-statuses
            display block
            align-items unset
            margin-top 20px
            .status:not(:last-child)
                margin-right 23px
    .cheat-statuses__container
        grid-template-columns unset
        gap 20px
    .game-status-block__info
        padding 40px 30px
    .profile__sidebar
        margin-right unset
        width 100%
        display flex
        flex-direction column
    .profile__container
        display block
    .profile__menu
        order 1
    .profile__identity__container
        margin-bottom unset
        flex 1
    .profile__identity__replenishment-btn
        width 260px
        margin-right 79px
    .profile__identity
        display flex
        align-items center
    .profile__identity__exit
        width 64px
        height 64px
        position absolute
        right 35px
    .profile__auth__info
        width 30%
    .profile__orders-table .profile__table__header,
    .profile__orders-table .profile__table__row
        grid-template-columns 35px repeat(4,1fr)
    .cheat-functions
        margin-bottom 90px
    .status-heading-section
        background-image unset
    .status-heading-section__container
        padding-bottom 40px
    .select__selected
        padding 15px 63px 13px 20px
    .cheat-statuses
        padding 75px 0
    .game-cards__slider-container
        margin-bottom 90px
@media screen and (max-width 999px)
    .popup#cheat-video
        .popup__inner
            margin-top 40px
        .popup__close
            right 0
            top -40px
    .not-found
        padding-bottom 90px
    .header__login
        height 56px
        width 59px
        font-size 0
        padding unset
        border-radius 15px  
        .btn__icon
            margin-right unset
            padding-right unset
            border-right unset
    .header__hamburger
        margin-left 20px
    .main-section1__inner, .main-section1__section-subcaption
        width unset
        max-width unset
    .main-section1__inner
        padding-top 500px
        position relative
    .main-section1 #card
        right unset
        left 100px
        top 0
        transform unset
    #card .platforms
        top 40%
    #card .telegram
        top 46px
        right 0
        transform translateX(calc(100% - 50px))
    .section2__block-container
        grid-template-columns repeat(2, 1fr)
        gap 20px
    .section-caption
        font-size 45px
    .main-section1__section-caption
        font-size 51px
    .section2__container
        align-items flex-start
    .section2__slider
        margin-top 45px
    .catalog
        margin 90px 0
    .catalog__cards-container
        margin-top 60px
    .catalog .section-caption-container
        flex-direction column
        align-items flex-start
        .section-caption-container__inner
            margin-bottom 40px
    .card
        height 285px
        --card-image-height 182px
        padding calc(var(--card-image-height) + 10px) 20px 20px
    .card__name
        font-size 18px
    .card__btn
        width 27px
        height 27px
        background-size 40%
    .types
        margin-bottom 10px
    .tg-card__icon
        width 46px
        height 46px
        margin-bottom 15px
    .tg-card__caption
        font-size 18px
    .tg-card__text
        font-size 12px
    .tg-card__btn
        padding 14px 30px
    .reviews__slide__name
        font-size 22px
    .reviews__slide__text
        font-size 16px
    .reviews
        --slide-height 375px
    .instruction__container
        padding 64px 50px
        background-color #141B25
    .instruction__text+.instruction__part-caption
        margin-top 50px
    .cheat-statuses__header__all-statuses
        display grid
        grid-template-columns repeat(2, 1fr)
        gap 20px
    .cheat-statuses__header__all-statuses
        width 100%
        .status:not(:last-child)
            margin-right unset
    .about-heading-section
        &__
            &decor
                &3
                    left 0
                    transform rotate(55deg)
                    width 100px
                    height 100px
                &1
                    left 0
                    bottom 0
                    top unset
                    transform translate(0,50%)
                    width 200px
                    height 200px
                &2
                    display none
    .about-section__stat:not(:last-child)
        margin-right 48px
        &::after
            right -24px
    .about-section__stat p
        font-size 35px
    .about-section__block
        padding 40px
    .about-section__history__slide .years
        font-size 25px
    .profile__avatar
        height 63px
        width 63px
        margin-right 16px
    .profile__identity__nickname
        font-size 16px
    .profile__main
        --padding-x 40px
    .profile__settings-block_input
        flex-wrap wrap
    .profile__settings-block_input .profile__settings-block__text
        width 100%
        padding-right unset 
        margin-bottom 32px
    .profile__referral__container
        grid-template-columns repeat(2, 1fr)
    .profile__referral__info-block .label
        width 110px
        padding 0
        justify-content center
    .profile__referral-table .profile__table__header, .profile__referral-table .profile__table__row,
    .profile__withdraw-table .profile__table__header, .profile__withdraw-table .profile__table__row
        grid-template-columns 35px repeat(3, 1fr)
@media screen and (max-width 767px)
    .profile__form__textarea
        padding 20px 25px 20px 45px
        &-container
            .attach-file
                left 15px
    .profile__container
        margin-top unset
    #ticket-tab
        position fixed
        left 0
        right 0
        top 0
        height 100%
        z-index 10
        margin-top unset !important
        border-radius unset !important
        overflow-y scroll
        overflow-x hidden
        padding 20px
    .profile__ticket-chat__message__body
        padding 20px 20px 30px
        .time
            font-size 12px
            right 12px
            bottom 12px
    .header
        position fixed
        background-color $bgc
    .about-heading-section
        min-height unset
    .not-found
        padding-bottom 20px
    .popup__caption
        font-size 22px
    .popup__payment-methods
        grid-template-columns repeat(2, 1fr)
        margin-bottom 50px
    .popup__input-line, .input-block__radio-container, .popup__buy-info__block-line
        grid-template-columns unset
    .popup__submit-btn
        margin-top 25px
        height 59px
    .popup__back-btn
        padding 0 20px
    .popup__back-btn,
    .popup__submit-btn
        font-size 16px
    .popup__inner
        padding 40px 35px
    .popup__close
        right 24px
        height 24px
    .header__search__scroll-container
        max-height 100%
        padding-bottom 50px
    .header__search
        position fixed
        top 0
        right 0
        left 0
        bottom 0
        background linear-gradient(225.72deg, #1B2330 -107.89%, #111720 7.18%)
        margin-right unset
        height unset
        z-index 9
        padding 10px 0
        transition 0.3s opacity
        &:not(._visible)
            opacity 0
            pointer-events none
        &__
            &input
                height 60px
                width 100%
                border-radius unset
                background-color unset
                padding-right 60px
            &inner
                top 73px
                bottom 0
                padding unset
            &overlay
                display none
    .header__logo
        width 100px
        margin-right auto
    .header__lang
        margin 0 25px
    .header__login
        width 48px
        height 48px
        order 1
        border-radius 10px
    .header__hamburger
        margin 0 20px
    .content
        max-width calc(100% - 60px)
    html
        --header-height 98px    
    .main-section1 #card
        left 20px
        top 30px
    #card
        .container
            height 366px
            &__
                &btn
                    display none
        .skill
            top 71px
            left -9px
            transform unset
        .stats
            left -40px
            bottom 62px
            transform unset
        .telegram
            top -27px
            right -32px
            transform unset
    .main-section1__inner
        padding-top 440px
    .section-category
        &__icon
            width 30px
            height 30px
            margin-right 10px
    
    .section-caption
        font-size 30px
    .main-section1__section-caption
        margin-bottom unset
    .main-section1__btns .btn
        &:not(:last-child)
            margin-right 10px
            flex 1
        &:last-child
            font-size 0
            height 62px
            width 62px
            padding unset
            .btn__icon
                padding-right unset
                margin-right unset
                border-right unset
    .main-section1__support span
        font-size 14px
        margin-right 15px
    .main-section1__support div
        width 20px
        height 20px
    .section2__block-container
        gap unset
    .section2__block.swiper-slide
        max-width 258px
        height unset
    .catalog
        margin 70px 0
    .main .catalog
        padding-top 60px
    .catalog__cards-container
        grid-template-columns repeat(2, 1fr)
    .card
        height 231px
        --card-image-height 148px
        padding var(--card-image-height) 18px 14px
        &__
            &btn
                width 22px
                height 22px
            &name
                font-size 15px
    .tg-card__icon
        display none
    .tg-card__caption
        font-size 15px
    .tg-card__btn
        margin-top 21px
        width 100%
        font-size 13px
    .catalog__show-more
        padding 15px 20px
        margin-top 50px
    .section-caption-container
        display block
    .section-caption-container__inner
        margin-bottom 20px
    .section-category+.section-caption, .section-category+.section-caption-container
        margin-top 15px
    .reviews
        margin 70px 0
        &::after
            width 77px
    .reviews__slide
        padding 35px
    .reviews__slide__name
        font-size 20px
    .faq::before
        display none
    .accordion__header__btn
        width 35px
        height 35px
    .accordion__header
        padding 17px 25px 17px 20px
    .accordion__body
        padding 25px
    .footer__logo
        width 98px
    .social-btn
        padding 10px 13px
        font-size 15px
    .footer__bottom-container
        margin-top 20px
        padding-top 20px
    .footer__bottom-container
        display block
        text-align left
    .footer__copy
        margin-top 10px
    .footer
        padding 30px 0
        margin-top 40px
    .cheat-card.swiper-slide
        width 220px
    .slider-arrows__arrow
        width 38px
        height 38px
        border-radius 9px
    .game-cheats__slider-container:not(:last-child)
        margin-bottom 75px
    .game-cheats
        overflow hidden
    .game-cheats-slider.swiper 
        overflow visible
    .cheat-block__slider
        height 228px
    .cheat-block__slider
        --arrow-spacing 20px
    .cheat-block__slider__arrow
        width 36px
        height 36px
    .cheat-block__info,
    .cheat-block__requirements
        padding 35px 30px
    .cheat-block__name
        margin 15px 0
    .cheat-block__text
        font-size 15px
    .cheat-block__name
        font-size 25px
    .cheat-block__info__btn-line .btn-accent
        padding unset
        flex 1
    .cheat-block__info__btn-line
        width 100%
    .cheat-block__requirements-container
        display block
    .cheat-block__requirement:not(:last-child)
        margin-bottom 25px
    .cheat-block__info__btn-line
        margin-top 40px
    .cheat-block
        margin-bottom 70px
    .cheat-functions__block.swiper-slide
        width 100%
    .key__container
        text-align left
        align-items flex-start
    .key__input-block
        margin-top -10px
    .key__payed-date
        margin-bottom 12px
    .attention
        margin-top 15px
    .attention
        font-size 14px
    .key
        padding-bottom 60px
        margin-bottom 55px
    .instruction__container
        padding 50px 40px
    .instruction__section-caption.section-caption
        font-size 25px
    .instruction__link
        width 100%
    .instruction__text
        font-size 15px
    .instruction__video
        margin 45px 0
    .about-heading-section__decor1,
    .about-heading-section__decor3
        display none
    .about-heading-section__container
        align-items flex-start
        text-align left
    .about-heading-section__section-caption
        font-size 28px
    .about-heading-section__section-subcaption
        font-size 14px
    .about-heading-section__btn
        margin-top 35px
    .about-heading-section__btn
        width 100%
    .about-section__stats
        grid-template-columns repeat(2, 1fr)
        display grid
    .about-section__stat
        padding 5px 0
        &:not(:last-child)
            margin unset
            &::after
                display none
        &:nth-child(1),
        &:nth-child(2)
            margin-bottom 60px
            position relative
        &:nth-child(1)
            &::after
                display block
                left 0
                width 200%
                bottom -30px
                border unset
                border-bottom 1px solid #283444
                pointer-events none
        &:nth-child(1),
        &:nth-child(3)
            border-right 1px solid #283444
        &:nth-child(2),
        &:nth-child(4)
            padding-left 35px
    .about-section__block
        padding 35px 40px
    .about-section__stat
        text-align left
    .about-section__stat p
        font-size 25px
    .about-section__stat span
        font-size 16px
    .about-section__contacts
        grid-template-columns unset
        gap 27px
    .about-section__contact p
        font-size 18px
    .about-section__history__slide .years
        font-size 20px
    .about-section__text
        font-size 14px
        margin-top 30px
    .status-heading-section__filter
        max-width calc(100% - 60px)
        width 100%
    .status-heading-section__container
        align-items flex-start
        text-align left
    .status-heading-section
        min-height 400px
    .status-heading-section__filter
        padding 10px
        padding-left 20px
        input
            width 100px
        .select
            width 210px
    .cheat-statuses__header__all-statuses
        grid-template-columns unset
    .cheat-statuses
        padding 67px 0 0
    .game-status-block
        display block
        height auto
        background url(../img/game-status-info_bg.png) #141B24
        background-size cover
        background-position left top
        background-repeat no-repeat
        padding 20px 30px 50px
    .game-status-block__image,
    .game-status-block__info
        background unset
    .game-status-block__info
        padding unset
        margin-top 30px
    .game-status-block__cheats span
        font-size 15px
    .game-status-block__image
        transform translateX(-50px)
    .not-found__code
        font-size 67px
    .not-found__caption
        font-size 25px
        margin 6px 0 20px
    .profile__identity
        display block
    .profile__identity__replenishment-btn
        margin 30px 0 0
        width 100%
    .profile__identity__exit
        width 50px
        height 50px
    .profile__identity
        padding 30px
    .profile__settings-block__input
        width calc(100% - 118px)
    .profile__settings-block:not(.profile__settings-block_avatar):not(.profile__settings-block_password)
        .profile__settings-block__edit-btn
            font-size 0
            width 49px
            height 49px
            border-radius 10px
        &.profile__settings-block_edit .profile__settings-block__edit-btn,
        .profile__settings-block__edit-btn
            padding unset
            background-position center
    .profile__settings-block__cancel-btn
        width 49px
        height 49px
    .profile__settings-block_avatar, .profile__settings-block_password
        flex-wrap wrap
        position relative
        .profile__settings-block__edit-btn
            width 100%
            margin-top 20px

    .profile__settings-block_avatar
        padding-bottom 30px
        .profile__settings-block__edit-btn
            margin-bottom 14px
        .profile__settings-block__text
            width calc(100% - 78px)
    .profile__avatar
        width 58px
        height 58px
    .profile__settings-block__avatar-ext
        position absolute
        left 0
        top 100%
        transform translateY(-100%)
    .profile__settings-block__descr
        font-size 12px
    .profile__settings-block__cancel-btn
        display none
        opacity 1
    .profile__settings-block_edit
        .profile__settings-block__cancel-btn
            display block
    .profile__auth__info
        span
            display none
        img
            margin-right unset
    .profile__auth__link-info
        font-size 12px
    .profile__auth__info
        width unset
        margin-right 16px
    .profile__tabs__choose__btn
        font-size 15px
    .profile__tabs__choose__btn:not(:last-child)
        margin-right 30px
    .profile__auth
        padding 16px 16px 16px 23px
    .profile__settings-block__name
        font-size 16px
    .profile__settings-block__descr
        font-size 15px
    .profile__ticket
        flex-wrap wrap
    .profile__ticket__info
        width calc(100% - 58px)
    .profile__ticket__icon
        margin-right 12px
    .profile__ticket__status
        margin 10px 0 0 58px
    .profile__ticket
        padding 17px 20px
    .profile__main__btn-back
        margin-right 15px
    .profile__main__header_border
        padding-bottom 22px
        margin-bottom 35px
    .profile__form__btn
        width 100%
    .profile__ticket-chat__message+.profile__ticket-chat__message
        margin-top 15px
    .profile__ticket-chat
        max-height 340px
        margin-bottom 35px
    .profile__empty-block__caption
        font-size 22px
        margin 25px 0 10px
    .profile__empty-block__text
        font-size 16px
    .footer_profile
        .footer__container
            flex-direction column
            align-items flex-start
        .footer__copy
            margin-top 24px
    .profile__orders-table .profile__table__header
        display none
    .profile__table__row
        padding 15px
    .profile__orders-table
        .profile__table__row
            display flex
            flex-wrap wrap
            position relative
            justify-content space-between
        .profile__table__col
            &:nth-child
                &(1)
                    display none
                &(2)
                    position relative
                    width 100%
                    padding-bottom 13px
                    margin-bottom 26px
                    &::after
                        content ''
                        position absolute
                        left -15px
                        bottom 0
                        right -15px
                        border-bottom 1px solid #262D39
                &(3),
                &(4),
                &(5)
                    display block
                    padding-bottom 11px
                &(5)
                    position static
        .profile__table__link
            position absolute
            right 15px
            top 14px
    .profile__referral__container
        grid-template-columns unset
    .profile__main__referral-header
        flex-wrap wrap
        .profile__main__header__btns
            margin 15px 0 0 0
    .profile__referral-table__user-card img
        display none
    .profile__referral-table .profile__table__header
        .profile__table__col
            &:nth-child
                &(3)
                    display none
                &(2)
                    grid-area 1/2/2/4
    .profile__referral-table__income
        padding 6px
        font-size 14px

     .profile__withdraw-table
        .profile__table__header
            .profile__table__col
                &:nth-child
                    &(3)
                        display none
                    &(2)
                        grid-area 1/2/2/4
        .profile__table__row
            display flex
            flex-wrap wrap
            .profile__table__col
                width calc(100% - 35px)
                margin-left 35px
                justify-content flex-start
                white-space nowrap
                &:nth-child
                    &(1)
                        width 35px
                    &(2), &(1)
                        margin-left unset
                    &(3)
                        margin 10px 0 16px 35px
                        overflow hidden
                        span:not(.profile__table__col__col-name)
                            text-overflow ellipsis
                            overflow hidden
                        .profile__table__col__col-name
                            margin 0 10px 0 0
    .game-cards__slider-container
        margin-bottom 70px
    .breadcrumbs
        margin-bottom 30px
    .instruction__link
        background-position calc(100% - 20px) center
        padding-right 56px
    .not-found__btn
        padding 20px
        width 100%
    .profile__identity__replenishment-btn
        height 57px
        padding unset
@media screen and (max-width 427px)
    #card
        .container
            height 352px
            width 310px
            &__
                &image
                    width 230px
        .stats
            left -24px
            width 122px
            bottom 65px
            padding 17px 17px 13px
            .subcaption
                overflow hidden
                white-space nowrap
                text-overflow ellipsis
            .graph
                .elem
                    &:nth-child(3)
                        display none
        .telegram
            top -30px
            right -10px
        .skill
            left 8px
            top 69px
        .platforms
            right -9px
            transform unset
    .main-section1 #card
        left 0
    .header__logo
        width 80px
    .header__hamburger
        width 24px
        height 24px
        margin 0 17px
    .content
        max-width calc(100% - 50px)
    .header__lang
        margin 0 15px
    .header__login
        width 35px
        height 35px
    .main-section1__inner
        padding-top 420px
    .section-category
        padding 7px 10px 7px 7px
        &__
            &text
                font-size 12px
            &icon
                width 20px
                height 20px
    .section-subcaption
        font-size 14px
    .section-caption
        font-size 28px
    .main-section1__btns .btn
        height 54px
    .main-section1__btns .btn:last-child
        height 54px
        width 54px
    .main-section1__support
        margin-top 20px
    .main-section1__btns
        margin-top 40px
    .catalog .section-caption-container .section-caption-container__inner
        margin-bottom 20px
    .card
        height 220px
        padding var(--card-image-height) 15px 15px
        
        --card-image-height 130px
        &__
            &name
                font-size 14px
            &img
                left -10px
                right -10px
            &btn
                width 18px
                height 18px
    .tg-card__text
        font-size 11px
    .tg-card__btn
        margin-top 12px
        padding 10px
    .section-subcaption .social-btn
        margin-left 15px
    .reviews__slide.swiper-slide
        width 275px
    .reviews__slide
        padding 30px
    .reviews__slide__avatar
        width 44px
        height 44px
    .reviews__slide__name
        font-size 18px
    .reviews
        --slide-height 325px
    .accordion__header
        padding 23px 20px
    .faq__container
        margin-top 20px
    .footer__logo
        width 80px
    .footer__bottom-container .footer__menu__item,
    .footer__copy
        font-size 14px
    .game-cheats__slider-container:not(:last-child)
        margin-bottom 70px
    .breadcrumbs
        margin-bottom 20px
    .cheat-block__slider
        height 192px
    .cheat-block__info__btn-line .btn-accent
        font-size 15px
        .btn__icon
            margin-right 10px
    .cheat-block__info__btn-line .btn-play
        width 54px
        height 54px
    .instruction__container
        padding 40px 30px
    .instruction__section-caption.section-caption
        font-size 20px
    .instruction__links
        margin 26px 0 30px
    .instruction__text+.instruction__part-caption
        margin-top 40px
    .instruction__part-caption
        font-size 20px
    .instruction__part-caption+.instruction__text
        margin-top 20px
    .instruction
        margin-bottom 70px
    .about-heading-section__section-caption
        font-size 24px
    .about-section__history__caption
        font-size 20px
    .about-section__block
        padding 35px 30px
    .status-heading-section__filter .select
        width 152px
        .select__selected
            padding-right 39px
            padding-left 15px
            &::after
                right 13px
    .not-found__code
        font-size 45px
    .not-found__caption
        font-size 20px
        margin 5px 0 15px
    .not-found__text
        font-size 14px
        margin-bottom 45px
    .profile__identity__replenishment-btn
        height 49px
    .profile__menu
        padding 20px 24px
    .profile__menu__item
        font-size 15px
    .profile__main
        --padding-y 40px
        --padding-x 25px
    .profile__caption
        font-size 16px
    .profile__settings-block__descr
        font-size 12px
    .profile__referral__stats
        grid-template-columns unset
    .profile__table__col
        font-size 14px
    .popup__back-btn,
    .popup__submit-btn
        font-size 14px
    .popup__inner
        padding 25px
    .input-block+.input-block
        margin-top 25px
    .popup__hint
        font-size 14px
        margin-top 35px
    .input-block__input
        font-size 15px
    .profile__ticket-chat__message__body
        padding 18px 18px 25px
        .time
            font-size 10px
            right 10px
            bottom 10px